<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<button type="button" id="searchId" onclick="doGetObjects()">search</button>
	<script type="text/javascript">
   function doGetObjects(){
	  //1.创建Xhr对象
	  var xhr=new XMLHttpRequest();
	  //console.log(xhr);
	  //2.设置状态监听;
	  xhr.onreadystatechange=function(){
		  //4 表示服务端响应结束;
		  //200 表示服务端响应ok
		  if(xhr.readyState==4&&xhr.status==200){
			 // console.log(xhr.responseText);
		     var result=JSON.parse(xhr.responseText);
		     console.log(result);
		  }
	  };
	  //3.打开一个连接;
	  var url="role/doFindPageObjects?pageCurrent=1";
	  xhr.open("GET",url,true);//true表示异步
	  //4.发送异步请求;
	  xhr.send();//GET请求send方法中没有数据;
</script>
</body>
</html>